<tr>
  <td>
    <%= link_to admin_category_path(category.id), class: "btn btn-default" do %>
      <i class="fa fa-eye"></i>
    <% end %>

    <%= link_to edit_admin_category_path(category.id), class: "btn btn-default" do %>
      <i class="fa fa-pencil"></i>
    <% end %>

    <%= link_to admin_category_path(category.id), method: :delete, class: "btn btn-default" do %>
      <i class="fa fa-trash-o"></i>
    <% end %>
  </td>

  <td><%= category.name %></td>
</tr>
