<%= render partial: 'layouts/admin_nav_bar', locals: { active: 'categories' } %>

<h1><%= t('admin.products.add_new_category') %></h1>

<div class="fluid-container">
  <%= render partial: 'form' %>
</div>
